/* Dracula theme + modifications C69 made */

/* Fira Code font itself */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  /* Dracula Colors */
  --dracula-background: #282a36 !important;
  --dracula-current-line: #44475a !important;
  --dracula-selection: #44475a !important;
  --dracula-foreground: #f8f8f2 !important;
  --dracula-comment: #6272a4 !important;
  --dracula-cyan: #8be9fd !important;
  --dracula-green: #50fa7b !important;
  --dracula-orange: #ffb86c !important;
  --dracula-pink: #ff79c6 !important;
  --dracula-purple: #bd93f9 !important;
  --dracula-red: #ff5555 !important;
  --dracula-yellow: #f1fa8c !important;
  /* Discord Root Colors */
  --background-primary: var(--dracula-background) !important;
  --background-secondary: var(--dracula-background) !important;
  --background-secondary-alt: var(--dracula-background) !important;
  --background-tertiary: var(--dracula-background) !important;
  --background-accent: var(--dracula-current-line) !important;
  --background-floating: var(--dracula-background) !important;
  --activity-card-background: var(--dracula-background) !important;
  --interactive-normal: var(--dracula-foreground) !important;
  --channeltextarea-background: var(--dracula-selection) !important;
  --rs-online-color: var(--dracula-green) !important;
  --rs-idle-color: var(--dracula-orange) !important;
  --rs-dnd-color: var(--dracula-red) !important;
  --rs-offline-color: var(--dracula-selection) !important;
  --rs-streaming-color: var(--dracula-purple) !important;
  --rs-invisible-color: var(--dracula-comment) !important;
  --interactive-muted: var(--dracula-comment) !important;
}

.da-acronym {
  --background-primary: var(--dracula-selection) !important;
}

.da-repliedMessage {
    --background-accent: var(--dracula-selection) !important;
}

.container-1D34oG.da-container {
  background-color: var(--dracula-background) !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--dracula-selection) !important
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: var(--dracula-selection) !important;
  border: 4px solid var(--dracula-background) !important;
  border-radius: 8px !important;
}

/* Syntax Highlighing in Code Blocks*/
code {
  color: var(--dracula-foreground) !important
}
span.hljs-built_in {
  color: var(--dracula-purple) !important;
}
span.hljs-keyword {
  color: var(--dracula-pink) !important;
}
span.hljs-title {
  color: var(--dracula-cyan) !important;
}
span.hljs-attr {
  color: var(--dracula-foreground) !important;
}
span.hljs-string {
  color: var(--dracula-yellow) !important;
}
span.hljs-number {
  color: var(--dracula-purple) !important;
}
span.hljs-symbol {
  color: var(--dracula-orange) !important;
}
span.hljs-meta {
  color: var(--dracula-foreground) !important;
}
span.hljs-meta-keyword {
  color: var(--dracula-pink) !important;
}
span.hljs-meta-string {
  color: var(--dracula-orange) !important;
}

/* Extra Shizz */

* {
  font-family: "Fira Code" !important
}

.unread-1xRYoj {
	color: var(--dracula-green);
}

.closeButton-1tv5uR {
  color: var(--dracula-purple);
}

.name-uJV0GL {
  color: var(--dracula-purple);
}

.defaultColor-1_ajX0 {
  color: var(--dracula-purple);
}

.item-2kk8m {
  color: var(--dracula-pink);
}

.name-1jkAdW {
  color: var(--dracula-foreground);
}

.item-PXvHYJ.themed-OHr7kt {
  color: var(--dracula-foreground);
}

.homeIcon-FuNwkv {
  color: var(--dracula-foreground);

}

.bodyInnerWrapper-Z8WDxe {
  color: var(--dracula-foreground);
}

.label-22pbtT {
  color: var(--dracula-purple);
}

.username-1A8OIy, .roleColor-rz2vM0 {
  filter: brightness(100%);
}

/* Status Colours (thanks DoggyBootsy for making it) */

[mask^="url(#svg-mask-status-online"] {
  fill: var(--dracula-green);
}
[mask^="url(#svg-mask-status-idle"] {
  fill: var(--dracula-orange);
}
[mask^="url(#svg-mask-status-dnd"] {
  fill: var(--dracula-red);
}
[mask^="url(#svg-mask-status-streaming"] {
  fill: var(--dracula-purple);
}
[mask^="url(#svg-mask-status-offline"] {
  fill: rgb(116, 127, 141);
}

/* Garbage that am not gonna fix - C69

IDFK what is this but meh:

.side-8zPYf6 {
  color: var(--dracula-purple);
}

.body-3iLsc4 {
  color: var(--dracula-selection);
}

*/

/* Status Scrollbar by Mackenzie */
.root-SR8cQa .activity-1ythUs {
  overflow: auto;
}
.root-SR8cQa .activity-1ythUs::-webkit-scrollbar {
  height: 5px;
}
.root-SR8cQa .activity-1ythUs::-webkit-scrollbar-track {
  border-radius: 4px;
  margin-left: 18px;
  margin-right: 18px;
  background-color: rgba(0, 0, 0, 0.15);
}
.root-SR8cQa .activity-1ythUs::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--header-secondary);
}

/* Remove the text from the server popup (say Server Boost, Server Settings, etc) by Doggyboostsy */
#guild-header-popout {
  width: fit-content;
}
#guild-header-popout .scroller-3BxosC, #guild-header-popout [role="group"] {
  display: flex;
  flex-direction: row;
  -webkit-box-orient: horizontal;
}
#guild-header-popout .scroller-3BxosC .item-1tOPte, #guild-header-popout [role="group"] .item-1tOPte {
  width: 32px;
}
#guild-header-popout .scroller-3BxosC .iconContainer-2-XQPY, #guild-header-popout [role="group"] .iconContainer-2-XQPY {
  margin: 0;
  transform: translate(-1px,0);
}
#guild-header-popout .scroller-3BxosC .label-22pbtT, #guild-header-popout [role="group"] .label-22pbtT {
  display: none;
}

/* Replace the black/gray colour of popups by KayoticCarnige and colour changed by C69 */
/* Popup Thing :p */
:root {
    --popup-color: #bd93f9
}

.tooltipPrimary-1d1ph4 {
    background: var(--popup-color) !important;
}

.tooltipPointer-3ZfirK {
    border-top-color: var(--popup-color) !important;
}
/* Cooler message buttons by Mackenzie */
.message-2qnXI6 .wrapper-2aW0bm .button-1ZiXG9 {
  margin: 0 2px;
  border-radius: 5px;
  background-color: var(--background-tertiary);
}

.message-2qnXI6 .wrapper-2aW0bm .button-1ZiXG9:hover {
  background-color: var(--background-modifier-selected);
}

/* Mute icon + text in servers that you're muted by Pukima */
.muteText-gutGxh {
  color:var(--dracula-red);
  margin-top: 3px;
  margin-left: 1.5px;
  background: url('https://svgur.com/i/W9K.svg') no-repeat;
  background-size: 23px;
}

.muteText-gutGxh::before {
  content: "‎‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎  ‎‏‏‎ ‎‏‏‏‏‎ ‎‎‏‏‎ ‎";
}

/* Modern Profile Pop-ups by andr0id*/
.protip-YaFfgO {
  display: none;
}
.headerText-2sdzFM {
  display: block;
  position: relative;
  left: 50px;
  bottom: 65px;
  max-height: 0px;
  max-width: 125px;
}
.avatarWrapper-3H_478 {
  right: 65px;
  padding: 2px;
}
.headerTagWithNickname-3IthZD {
  max-width: 115px;
}
.px-10SIf7.botTag-2WPJ74{
  background-color: rgba(255, 255, 255, 0.438);
}
.customStatus-1bh2V9{
  margin-top: 0px !important;
}
.avatarHint-1qgaV3 {
  right: 65px;
  padding: 2px;
}
/* Cooler Mentions by andr0id*/
.wrapper-3WhCwL {
  color: white;
  background-color: #2b2b2b;
  padding-left: 6px;
  padding-right: 6px;
  transition: 0.5s;
}
.wrapper-3WhCwL:hover {
  background-color: #0f0f0f;
  transition: 0.5s;
}

/* Resizing the Emoji and making it large */
.emojiSection-3Fb9ix img {
  margin: auto;
  min-width: 80%;
  height: auto !important;
}
/* Resizing the Emoji and making it large End */

/* Text Wrapping */
.emojiSection-3Fb9ix > .noWrap-3jynv6, .emojiSection-3Fb9ix{
  flex: wrap;
  flex-direction: column !important;
}
/* Text Wrapping End */

/* Adjusting the text weight and aligning it to center */
.emojiName-27Bjxw {
  font-weight: 600;
  margin-top: 8px;
  text-align: center;
}
/* Adjusting the text weight and aligning it to center End */
/* Show date of edits by DoggyBootsy */
.cozyMessage-3V1Y8y:not(.systemMessage-1I9LCe) .markup-2BOw-j .timestampInline-yHQ6fX>[aria-label]::after{
  content:"-(" attr(aria-label) ")";
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
}

/* Make Emote preview thingys bigger by Awish */
/* Resizing the Emoji and making it large */
.emojiSection-3Fb9ix img {
  margin: auto;
  min-width: 80%;
  height: auto !important;
}
/* Resizing the Emoji and making it large End */

/* Text Wrapping */
.emojiSection-3Fb9ix > .noWrap-3jynv6, .emojiSection-3Fb9ix{
  flex: wrap;
  flex-direction: column !important;
}
/* Text Wrapping End */

/* Adjusting the text weight and aligning it to center */
.emojiName-27Bjxw {
  font-weight: 600;
  margin-top: 8px;
  text-align: center;
}

/* BetterFreinds V1 */
:root{
--friendblockheight: 80px;
--csbg: url('https://imgur.com/8twCdCN.jpg');}
/* Online count */
.peopleList-3c4jOR .title-30qZAO {
font-size: 18px;
text-align: center;
line-height: 40px;
height: var(--friendblockheight);
border-radius: 8px;
background-color: var(--background-tertiary);}
[id="ONLINE-tab"] .peopleList-3c4jOR .title-30qZAO {
padding-left: 30px;
color: #43B581;
height: var(--friendblockheight)}
[id="ONLINE-tab"] .peopleList-3c4jOR .title-30qZAO:before {
content: "";
position: absolute;
margin-left: -32px;
margin-top: 13px;
width: 14px;
height: 14px;
background-color: #43B581;
border-radius: 50%;}
/* Background */
.avatar-3W3CeO.wrapper-3t9DeA:before {
content: '';
position: absolute;
top: -20px;
left: -25px;
min-width: 585px;
height: var(--friendblockheight) !important;
z-index: -1;
opacity: 0.3;
background: var(--csbg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}
.userInfo-2zN2z8 {
background-color: var(--background-tertiary);
border-radius: 8px;
padding: 8px;
margin-left: 6px;}
/* Buttons */
.actionButton-uPB8Fs, .actionButton-uPB8Fs.highlight-Lf97TE {border-radius: 8px;}
/* Fuck Borders */
.peopleListItem-2nzedh {
border-top: 0px solid var(--background-modifier-accent);}
/* tajmahal? / Bruh / Why is this here? */
.userInfo-2zN2z8, .actions-1SQwjn {position: relative; z-index: 1;}

/* Remove inventory/nitro/stage text */
#private-channels > [class*="content-"] {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) {
    flex-grow: 1;
    margin-top: 8px !important;
    margin-left: 0;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]):first-of-type {
    margin-left: 8px !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="layout-"] {
    justify-content: center;
    padding: 0 !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="avatar-"] {
    margin: 0 !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="content-"] {
    display: none;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="children-"] {
    position: absolute;
    transform: translate(4px, 8px);
    box-shadow: 0 0 0 3px var(--background-secondary);
    border-radius: 100px;
}
#private-channels > [class*="content-"] > h2 {
    width: 100%;
}
#private-channels > [class*="content-"] > a[href*="/channels/@me/"] {
    width: 100%;
}

/*http link as red*/

a[href^="http://"] {
  color: var(--dracula-red);
}

/*https link as red*/

a[href^="https://"] {
  color: var(--dracula-green);
}

/* Scrollbar for Serverlist by KayoticCarnige */
.none-2Eo-qx {
  scrollbar-width: auto !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  margin-right: 3px;
}

.none-2Eo-qx:hover::-webkit-scrollbar {
  width: 0.25em !important;
  border-radius: 25px;
  height: 0px !important;
  background: transparent !important;
  
}

.none-2Eo-qx::-webkit-scrollbar-thumb {
  background: var(--background-accent);
  border-radius: 25px;
}

/* Remove your phone number from settings by Mackenzie */
.accountProfileCard-1XCH88 .field-1HUseB:last-child .size16-1P40sf {
  --no-phone-number-text: 'Nothing to see here!';
  color: transparent;
}
.accountProfileCard-1XCH88 .field-1HUseB:last-child .size16-1P40sf::before {
  color: var(--header-primary);
  content: var(--no-phone-number-text, '************');
}
.accountProfileCard-1XCH88 .field-1HUseB:last-child .size16-1P40sf > .lookLink-9FtZy- {
  transform: translateX(-88px);
}

/* Plain O' White badges by mr_miner */
.clickable-17BDii > img{
  height: 20px !important;
  width: 20px !important;
  padding: 20px 20px 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
.badges > div > img{
  height: 16px !important;
  width: 16px !important;
  padding: 16px 16px 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
div[aria-label*="Discord Staff"] > img {
  background-image: url("/assets/7cfd90c8062139e4804a1fa59f564731.svg") !important;
}
div[aria-label*="Partner"] > img {
  background-image: url("/assets/a6a741e07b5ec2d1583f8b98df3c2143.svg") !important;
}
div[aria-label*="HypeSquad Events"] > img {
  background-image: url("/assets/3a050fcc884255231b99b7033c776070.svg") !important;
  transform: scale(0.9) translateY(-1.5px);
}
div[aria-label*="HypeSquad Bravery"] > img {
  background-image: url("/assets/1115767aed344e96a27a12e97718c171.svg") !important;
  transform: scale(0.9);
}
div[aria-label*="HypeSquad Brilliance"] > img {
  background-image: url("/assets/d3478c6bd5cee0fc600e55935ddc81aa.svg") !important;
  transform: scale(0.9);
}
div[aria-label*="HypeSquad Balance"] > img {
  background-image: url("/assets/2a085ed9c86f3613935a6a8667ba8b89.svg") !important;
  transform: scale(0.9);
}
div[aria-label*="Early Verified Bot Developer"] > img {
  background-image: url("/assets/785d81fdbedd133e213da693aba98774.svg") !important;
}
div[aria-label*="Early Supporter"] > img {
  background-image: url("/assets/ce15562552e3d70c56d5408cfeed2ffd.svg") !important;
}
div[aria-label*="Subscriber"] > img {
  background-image: url("/assets/379d2b3171722ef8be494231234da5d1.svg") !important;
}
div[aria-label*="Bug Hunter"] > img {
  background-image: url("/assets/df26f079738a4dcd07cbce6eb3c957f1.svg") !important;
}
div[aria-label*="Server boosting"] > img{
  filter: brightness(1.1) opacity(100%) grayscale(1.05);
  padding: 0px 0px 0px 0px;
  overflow:auto;
  box-sizing: border-box;
}
div[aria-label*="Certified Moderator"] >img{
 padding: 0px 0px 0px 0px;
 overflow:auto;
   box-sizing: border-box;
   filter: brightness(4);
   transform: scale(1.05);
}

/* fix that pesky activities bug by Davri */
.assetsLargeMaskVoiceChannel-2k1oGM {-webkit-mask-size: cover;}

/* Center the emoji the status while on profile by botato */
.customStatus-oN4ZZY > .customStatusEmoji-3a2-Zo.customStatusSoloEmoji-1tDhmL:only-child {
    margin-right: auto;
    margin-left: auto;
}

/* make options colored and such */
#message-actions-pin, #message-pin, #message-unpin{
    color: skyblue;
}
#message-actions-pin:hover, #message-pin:hover, #message-unpin:hover {
    background-color: #67a7c0;
    color: #fff;
}
#message-actions-reply, #message-reply {
    color: khaki;
}
#message-actions-reply:hover, #message-reply:hover {
    background-color: #c5bb5d;
    color: #fff;
}
#message-actions-thread, #message-thread {
    color: #69c069;
}
#message-actions-thread:hover, #message-thread:hover {
    background-color: #5dbd5d;
    color: #fff;
}
#message-actions-mark-unread, #message-mark-unread {
    color: plum;
}
#message-actions-mark-unread:hover, #message-mark-unread:hover {
    background-color: #c27ec2;
    color: #fff;
}
#message-actions-copy-link, #message-copy-link {
    color: lightseagreen;
}
#message-actions-copy-link:hover, #message-copy-link:hover {
    background-color: #199c96;
    color: #fff;
}
#message-actions-tts, #message-tts{
    color: var(--brand-experiment);
}
#message-actions-tts:hover, #message-tts:hover{
    background-color: var(--brand-experiment);
    color: #fff;
}
#message-actions-copy-id, #message-devmode-copy-id {
    color: lightsalmon;
}
#message-actions-copy-id:hover #message-devmode-copy-id:hover{
    background-color: lightsalmon;
    color: #fff;
}
#message-edit, #message-actions-edit{
    color: steelblue;
}
#message-edit:hover,  #message-actions-edit:hover{
    background-color: steelblue;
    color: #fff;
}
#message-add-reaction{
    color: goldenrod;
}
#message-add-reaction:hover{
    background-color: goldenrod;
    color: #fff;
}

/* Thanks to everyone who contributed their CSS Snipets and Themes for this theme, ik i'll never be able to credit you without being cringe but hey! Atleast this footnote serves of something.... right? */

/* Reminder for stuff: https://cdn.discordapp.com/attachments/278340416628326400/844623014088015912/video0.mp4*/
